<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atgongda.dao.ViewBlogMapper">

    <!--查看我的博客-->
    <select id="queryMyBlog" resultType="com.atgongda.entity.Article">
        select * from article where article_id = #{articleId}
    </select>

    <!--查看全部博客-->
    <select id="queryAllBlog" resultType="com.atgongda.entity.Article">
        select * from article
    </select>
</mapper>
